body {
  margin: 0;
  background: linear-gradient(135deg, #222 60%, #2d4356 100%);
  font-family: 'Segoe UI', Arial, sans-serif;
}

.main-container {
  max-width: 400px;
  margin: 60px auto;
  background: #232528;
  padding: 30px 24px 20px 24px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.20);
}

h2 {
  color: #4fdd88;
  margin-bottom: 18px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

input {
  padding: 12px;
  border-radius: 7px;
  border: none;
  margin-bottom: 14px;
  font-size: 1.08rem;
  background: #181a23;
  color: #fff;
}

button {
  background: #20bef1;
  color: #fff;
  border: none;
  border-radius: 7px;
  padding: 12px 0px;
  font-size: 1.08rem;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background 0.22s;
}

button:hover {
  background: #4fdd88;
  color: #212326;
}

.link-btn {
  background: none;
  color: #ffa502;
  border: none;
  text-decoration: underline;
  font-size: 1.02rem;
  cursor: pointer;
}

.success {
  color: #4fdd88;
  text-align: center;
}
.error {
  color: #fc5c65;
  text-align: center;
}
.secured {
  text-align: center;
  margin-top: 20px;
  color: #82fdaf;
  font-size: 1.2rem;
}
.logout-btn {
  background: #fc5c65;
  color: #fff;
  margin-top: 18px;
  padding: 10px 0;
}
